{% extends 'base.html.twig' %}

{% block title %}
    Nos articles {{parent()}}
{% endblock %}

{% block body %}
    <section class="container mt-2">
        <h1 class="text-center">Nos articles</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin.articles.create') }}" class="btn btn-primary">Créer un article</a>
        {% endif %}
        <div class="blog-list mt-4">
            {% for article in articles %}
                {% include 'Components/_articleCard.html.twig'%}
            {% endfor %}
        </div>
    </section>
{% endblock %}
